


#__next {
  height: 100%;
}
.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
}

.sidebarPath {
  display: flex;
  flex-direction: row;
}

.sidebarImg {
  height: 7vw;
  width: 7vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  width: 250px;
  padding-left: 25px;
  overflow: auto;
}

.path {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px 0 14px;
  width: 80%;
  background-color: #F8F8F8;
  color: #8b8b8b;
  border-radius: 50px;
  height: 40px;
}

.searchBar img {
  width: 20px;

}

.tags {
  display: flex;
}

.tags img {
  width: 20px;
  margin-left: -30px;
}

.tags > p {
  background-color: #FFE2DB;
  color: #F15F40;
  width: 170px;
  border-radius: 50px;
  padding: 6px 0 6px 12px;
}

.divider {
  height: 1.4px;
  background-color: #EBEBEB;
  width: 90%;
  margin: 14px 0 14px 0;
}

.aggregateButton {
  margin-top: 8vh;
}

.aggregateButton img {
  height: 5vh;
  width: 5vh;
  background-color: white;
}

.timeline {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}

.timeline img {
  width: 80%;
}