.timeline {
    width: 5%;
    height: 2.5px;
    background-color: #8DCD03;
    margin-top: auto;
    margin-bottom: auto;
}

.name {
    margin-left: 15%;
}

.container {
    display: flex;
    flex-direction: column;
}

.path {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.circleIcon {
    background-color: white;
    border-radius: 50%;
    height: 6vw;
    width: 6vw;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.jobDesc p {
    padding: 0;
    text-align: center;
}

.circleOverall {
    display: flex;
    width: 6vw;
    flex-direction: column;
}

.icon {
    height: 2.5vw;
    width: auto;
    margin: auto;
    display: flex;
}

.bookmark {
    margin-top: auto;
    margin-bottom: auto;
    height: 2vw;
    width: 2vw;
}

.pathContainer{
    display: flex;
}