.slideOut {

  position: fixed;
  top: 0;
  right: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  box-shadow: -3px 10px 15px rgba(0, 0, 0, 0.07);

  }

.slideOutShow {
  right: 0;
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.slideOutHide {
  transform: translate3d(100vw, 0, 0);
}

.slideOutImg{
  display: flex;
  top:0;
  right:0;
  width: 26vw;
  height: 100%;
}